<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>IKS BQ - Login</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="assets/img/logo.png" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Login</h1>
								<p class="account-subtitle">Login untuk mengakses BQ</p>
								
								<!-- Form -->
								<div id="login-notice"></div>
								<form id="login">
									<div class="form-group">
										<input class="form-control" name="username" type="text" placeholder="Username">
									</div>
									<div class="form-group">
										<input class="form-control" name="pass" type="password" placeholder="Password">
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Login</button>
									</div>
								</form>
								<!-- /Form -->
								
								
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		<script>
			(function ($) {
				$.fn.serializeFormJSON = function () {

					var o = {};
					var a = this.serializeArray();
					$.each(a, function () {
						if (o[this.name]) {
							if (!o[this.name].push) {
								o[this.name] = [o[this.name]];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				};
			})(jQuery);

			$('document').ready(() => {

				$('#login').submit((e) => {
					e.preventDefault()
					$('#login-notice').empty()
					var param = $('#login').serializeFormJSON()
					$.ajax({
						url : '/Api/Login',
						dataType : 'JSON',
						data : param,
						method : 'POST',
						success : (data) => {
							$('#login-notice').html('<div class="alert alert-success">'+data.msg+'</div>')
						},
						error : (e) => {
							var callback = e.responseJSON
							$.each(callback.msg, (key, value) => {
								console.log(value)
								$('#login-notice').append('<div class="alert alert-danger">'+value.message+'</div>')
							})
							
						}
					})
				})

			})

		</script>
		
    </body>
</html>